<link rel="import" href="../polymer/polymer-element.html">
<link rel="import" href="../polymerfire/firebase-app.html">
<link rel="import" href="../polymerfire/firebase-auth.html">
<link rel="import" href="../paper-button/paper-button.html">
<link rel="import" href="../paper-dialog/paper-dialog.html">
<link rel="import" href="../paper-dialog-scrollable/paper-dialog-scrollable.html">
<link rel="import" href="../login-fire/login-fire-form.html">
<link rel="import" href="../login-fire/login-fire.html">

<link rel="import" href="../paper-card/paper-card.html">
<link rel="import" href="../iron-form/iron-form.html">
<link rel="import" href="../paper-checkbox/paper-checkbox.html">
<link rel="import" href="../paper-input/paper-input.html">
<link rel="import" href="../paper-button/paper-button.html">
<link rel="import" href="../paper-dialog/paper-dialog.html">
<link rel="import" href="../places-autocomplete-input/places-autocomplete-input.html">
<link rel="import" href="../neon-animation/web-animations.html">
<link rel="import" href="../neon-animation/animations/scale-up-animation.html">
<link rel="import" href="../neon-animation/animations/fade-out-animation.html">

<link rel="import" href="../app-route/app-location.html">
<link rel="import" href="../app-route/app-route.html">
<link rel="import" href="../iron-flex-layout/iron-flex-layout.html">
<link rel="import" href="../iron-media-query/iron-media-query.html">
<link rel="import" href="../paper-icon-button/paper-icon-button.html">
<link rel="import" href="../paper-tabs/paper-tabs.html">
<link rel="import" href="../iron-icons/iron-icons.html">
<link rel="import" href="../iron-pages/iron-pages.html">
<link rel="import" href="../app-layout/app-layout.html">
<link rel="import" href="../google-webfont-loader/google-webfont-loader.html">
<link rel="import" href="../app-layout/app-scroll-effects/app-scroll-effects.html">
<link rel="import" href="./shared-styles.html">
<link rel="import" href="./app-shell-authenticate.html">
<link rel="import" href="../iron-icons/maps-icons.html">
<link rel="import" href="../iron-flex-layout/iron-flex-layout.html">

<dom-module id="app-shell">
    <template>
        <google-webfont-loader fonts="VT323, Montserrat, Quicksand,Droid Serif, Inconsolata, Lato, Kavivanar"></google-webfont-loader>
        <style include="shared-styles">
            :host {
                display: block;
                position: relative;
                overflow: hidden;
                padding: 0;
                margin: 16px;
                /* max-width: 1560px; */
            }

            .spacer {
                width: 100%;
            }

            #tabs {
                margin: auto;
                font-size: 16px;
                width: 100%;
            }

            #appheader {
                margin-right: -16px;
                margin-left: -16px;
                padding-left: 16px;
                padding-right: 16px;
            }

            .brandname {
                /* font-family: 'epi'; */
                text-align: center;
                margin-left: -40px;
                margin-top: 8px;
                /* font-size: 2.5rem; */
                /* margin: 24px; */
                /* font-family: var(--brand-name-font-family, 'epi'); */
                /* margin-top: var(--brand-name-margin-top); */
                /* line-height: var(--brand-name-line-height, 2px); */
            }

            #drawerbrandname {
                margin: 36px;
            }

            #signupbutton {
                margin: auto;
                /* margin-top: 16px; */
                background-color: black;
                color: white;
                width: 100%;
                font-family: gs-med;
                max-height: 75%;
            }

            fof-slack {
                width: 100%;
            }

            .profilebarbig {
                display: flex;
                width: 100%;
            }

            .profilebarbig img {
                margin: auto;
            }

            .profileBar {
                margin-bottom: 0px;
            }

            @media (max-width: 450px) {
                .brandname{
                    margin-left: 0px;
                }
            }
        </style>
        <iron-media-query query="max-width: 450px" query-matches="{{smallScreen}}"></iron-media-query>
        <app-drawer-layout drawer-width="288px" force-narrow>
            <!-- navigation drawer for small screen sizes -->
            <app-drawer slot="drawer" id="drawer" swipe-open="[[smallScreen]]">
                <template is="dom-if" if="[[smallScreen]]">
                    <div id="drawerbrandname" class="brandname" main-title spacer=[[smallScreen]]>
                        <img slot="logo" src=[[logourl]] class="logo" alt=[[brandname]]>
                    </div>
                    <template is="dom-if" if="[[isUser]]">
                        <app-toolbar class="profileBar">
                            <img class="profilePic" src=[[user.photoURL]] width="30" height="30">
                            <div class="profileName">[[user.displayName]]</div>
                            <!-- <paper-icon-button icon="settings" aria-label="Settings"></paper-icon-button> -->
                        </app-toolbar>
                    </template>
                    <template is="dom-if" if="[[!isUser]]">
                        <app-toolbar class="profileBar" id="signupbuttontoolbar">
                            <paper-button id="signupbutton" on-tap="signin" raised>Sign Up</paper-button>
                        </app-toolbar>
                    </template>
                    <div class="list">
                        <template is="dom-repeat" items="[[sections]]" as="section" initial-count="1">
                            <a href="#[[section.link]]" class$="[[_getSectionClass(index, selectedTab)]]">[[section.name]]</a>
                        </template>
                    </div>
                    <template is="dom-if" if="[[isUser]]">
                        <app-toolbar class="profileBar" id="signupbuttontoolbar">
                            <paper-button id="signupbutton" on-tap="signout" raised>Sign Out</paper-button>
                        </app-toolbar>
                    </template>
                </template>
            </app-drawer>

            <app-header-layout id="headerLayout">
                <!-- main header -->
                <app-header id="appheader" slot="header" effects="waterfall" fixed="[[smallScreen]]" condenses="[[!smallScreen]]"
                    reveals="[[!smallScreen]]">
                    <app-toolbar id="mainToolbar">
                        <div class="navItem leftItem">
                            <paper-icon-button icon="menu" drawer-toggle alt="Toogle navigation menu"></paper-icon-button>
                            <a href="#[[sectionData.section]]" tabindex="-1">
                                <paper-icon-button icon="arrow-back" alt="Back to the home"></paper-icon-button>
                            </a>
                        </div>
                        <div id="mainbrandname" class="brandname" main-title spacer=[[smallScreen]]>
                            <img slot="logo" src=[[logourl]] class="logo" alt=[[brandname]]>
                        </div>
                        <div class="spacer">
                            <template is="dom-if" if="[[_shouldShowTabs(onDetailPage, smallScreen)]]">
                                <paper-tabs selected="[[selectedTab]]" id="tabs" scrollable sticky$="[[_shouldShowTabs(onDetailPage, smallScreen)]]">
                                    <template is="dom-repeat" items="[[sections]]" as="section">
                                        <paper-tab>
                                            <a href="#[[section.link]]">[[section.name]]</a>
                                        </paper-tab>
                                    </template>
                                </paper-tabs>
                            </template>
                        </div>
                        <template is="dom-if" if="[[!smallScreen]]">
                            <div class="navItem">
                                <template is="dom-if" if="[[isUser]]">
                                    <div class="profilebarbig">
                                        <img class="profilePic" on-tap="signin" src=[[user.photoURL]] width="30" height="30">
                                        <div class="profileName" on-tap="signin">[[user.displayName]]</div>
                                        <!-- <paper-icon-button icon="settings" aria-label="Settings"></paper-icon-button> -->
                                    </div>
                                </template>
                                <template is="dom-if" if="[[!isUser]]">
                                    <app-toolbar class="profileBar" id="signupbuttontoolbar">
                                        <paper-button id="signupbutton" on-tap="signin" raised>Sign Up</paper-button>
                                    </app-toolbar>
                                </template>
                            </div>
                        </template>
                        <div class="navItem">
                            <slot name="rightbutton"></slot>
                            <!-- <paper-icon-button icon="maps:place" on-tap='pop' aria-label="Check Location"></paper-icon-button> -->
                            <!-- <paper-icon-button icon="more-vert" aria-label="More options"></paper-icon-button> -->
                        </div>
                    </app-toolbar>
                </app-header>
                <slot></slot>
            </app-header-layout>
        </app-drawer-layout>
        <app-shell-authenticate id="auth" app-name=[[firebaseAppName]] user={{user}}>
        </app-shell-authenticate>
    </template>
    <script>
        /**
         * @customElement
         * @polymer
         */
        class AppShell extends Polymer.Element {
            static get is() {
                return 'app-shell';
            }
            static get properties() {
                return {
                    brandname: {
                        type: String
                    },
                    firebaseAppName: String,
                    showpopup: {
                        type: Boolean,
                        value: false
                    },
                    showButton: {
                        type: Boolean,
                        value: false
                    },
                    sections: {
                        type: Array,
                        value: function () {
                            return [{
                                name: 'Home',
                                link: '/'
                            }, {
                                name: 'Dream Team',
                                link: '/#dreamteam'
                            }];
                        }
                    },
                    selectedTab: {
                        type: Number,
                        computed: '_computeSelectedTab(sections, routepath)'
                    },
                    page: {
                        type: String,
                        computed: '_computePage(onDetailPage)',
                        reflectToAttribute: true
                    },
                    route: Object,
                    subRoute: Object,
                    sectionData: String,
                    idData: Object,
                    onDetailPage: Boolean,
                    isUser: {
                        type: Object,
                        value: false,
                        notify: true
                    },
                    routepath: {
                        type: String,
                        notify: true
                    },
                    user: {
                        type: Object,
                        observer: 'userChanged'
                    },
                    logourl: String
                };
            }

            userChanged(user) {
                this.set('isUser', user ? true : false);
            }

            pop() {
                this.set('showpopup', !this.showpopup);
                //call the scanner
                this.$.animated.open();
            }

            signin() {
                this.$.auth.signUp(true);
            }

            signout() {
                this.$.auth.signUp(false);
            }

            _submit() {
                this.$.animated.open();
                this.$.form.reset();
                // this.$.myForm.submit();
            }

            _shouldShowTabs(onDetailPage, smallScreen) {
                return !onDetailPage && !smallScreen;
            }


            _getSectionClass(index, selectedTab) {
                return index === selectedTab ? 'active' : '';
            }

            _computeSelectedTab(sections, sectionLink) {
                for (var i = 0; i < sections.length; i++) {
                    if (sections[i].link === sectionLink) {
                        return i;
                    }
                }
            }

            _hashDidChange(path) {
                this.$.headerLayout.resetLayout();
                this.$.drawer.close();
                this.set('routepath', path);
            }

            _computePage(onDetailPage) {
                return onDetailPage ? 'detail' : 'list';
            }

            shouldShowDesktopProfileBar() {
                return (this.isUser && !this.smallScreen);
            }

        }

        window.customElements.define(AppShell.is, AppShell);
    </script>
</dom-module>