<!--
@license
Copyright (c) 2016 The Polymer Project Authors. All rights reserved.
This code may only be used under the BSD style license found at http://polymer.github.io/LICENSE.txt
The complete set of authors may be found at http://polymer.github.io/AUTHORS.txt
The complete set of contributors may be found at http://polymer.github.io/CONTRIBUTORS.txt
Code distributed by Google as part of the polymer project is also
subject to an additional IP rights grant found at http://polymer.github.io/PATENTS.txt
-->
<link rel="import" href="../polymer/polymer-element.html">
<link rel="import" href="../polymerfire/firebase-app.html">
<link rel="import" href="../polymerfire/firebase-auth.html">
<link rel="import" href="../paper-button/paper-button.html">
<link rel="import" href="../paper-dialog/paper-dialog.html">
<link rel="import" href="../paper-dialog-scrollable/paper-dialog-scrollable.html">
<link rel="import" href="../login-fire/login-fire-form.html">
<link rel="import" href="../login-fire/login-fire.html">

<dom-module id="app-shell-authenticate">
    <template>
        <style include="firebase-styles">
        </style>
        <firebase-auth id="auth" app-name=[[appName]] user="{{user}}" on-error="handleError" user-changed="signInChanged">
        </firebase-auth>
        <paper-dialog id="authdia" with-backdrop center>
                <paper-dialog-scrollable>
                  <login-fire app-name=[[appName]] flat auto-sign-up reverse on-signedin="signedin" providers="google, facebook, twitter"></login-fire>
                </paper-dialog-scrollable>
              </paper-dialog>
    </template>

    <script>
        class AppShellAuth extends Polymer.Element {
            static get is() {
                return 'app-shell-authenticate';
            }
            static get properties() {
                return {
                    appName: String,
                    offline: {
                        type: Boolean,
                    },
                    user: {
                        type: Object,
                        notify: true,
                        observer: 'userChanged'
                    },
                    signup: {
                        type: Boolean,
                        observer: 'signUp'
                    }
                }
            }

            signInChanged() {
                console.log(this.user);
            }

            userChanged(x) {
                console.log(x)
            }

            signedin() {
                this.$.authdia.close();
            }

            signUp(x) {
                if (x) {
                    this.$.authdia.open();
                } else {
                    this.$.auth.signOut();
                }
            }

        }
        customElements.define(AppShellAuth.is, AppShellAuth);
    </script>

</dom-module>